# Python
__pycache__/
*.py[cod]
*.pyo
*.so

# Virtual environments
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets
*.env

# Streamlit cache
.streamlit/
